<Files .htaccess>
order allow,deny
deny from all
</Files>

Options +FollowSymlinks
Options -Indexes
ServerSignature Off
DirectoryIndex index.php

<Files ~ "\.(inc|sql|ini|exe|bin|tpl)$">
deny from all
</Files>

RewriteEngine on

RewriteBase /~hagege/immo/

RewriteRule time:(\d+)-agence:(\d+)$ index.php?time=$1&agence=$2 [L]
RewriteRule time:(\d+).(\d+)-agence:(\d+)$ index.php?time=$1.$2&agence=$3 [L]

RewriteRule agence:(\d+)-time:(\d+)$ index.php?agence=$1&time=$2 [L]
RewriteRule agence:(\d+)-time:(\d+).(\d+)$ index.php?agence=$1&time=$2.$3 [L]

RewriteRule time:(\d+)$ index.php?time=$1 [L]
RewriteRule time:(\d+).(\d+)$ index.php?time=$1.$2 [L]
RewriteRule agence:(\d+)$ index.php?agence=$1 [L]